body {
    background: black;
    margin: 0px;
}

#content {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
}

#content-left {
    flex-grow: 1;
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

#content-right {
    flex-grow: 2;
    background: white;
}