body {
    background: black;
    margin: 0px;
}

#content {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    min-width: 50em;
}

#content-left {
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content-right {
    background: white;
    width: 60%;
}

.banner {
    color: white;
    margin-top: 258px;
    font-size: 90px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.banner img {
    height: 120px;
}

.image-footer {
    color: white;
    align-self: center;
    margin-bottom: 6px;
}

.image-footer a {
    color: white;
}

#content-right > * {
    border: 2px solid black;
    min-width: 42rem;
}

#content-header {
    background-color: rgba(249, 250, 251, 1);
    height: 40%;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#content-header > div {
    width: 40rem;
    height: 7rem;
    margin-left: 2rem;
}

#content-body {
    height: 30%;
}

#content-body > * {
    border: 1px solid black; 
    height: 25%;
    margin-left: 50px;
}

.body-text {
    font-weight: bold;
    font-size: x-large;
    color: rgb(61, 59, 59);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-name {
    
}

.body-contact-info {
   
}

.body-password {
    
}

#content-footer {
    height: 30%;
}